$enable-responsive-font-sizes: true;
@import "~bootstrap/scss/bootstrap.scss";

@import "vendor/creative-tim/scss/paper-dashboard.scss";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Reset .input-group-text styles closer to Bootstrap defaults
.form-group .input-group-prepend .input-group-text, .form-group .input-group-append .input-group-text, .input-group .input-group-prepend .input-group-text, .input-group .input-group-append .input-group-text {
  padding: 10px;
}
.input-group-append .input-group-text, .input-group-prepend .input-group-text {
  background-color: #e9ecef;
}
.input-group .form-control:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child) {
  border-left: 1px solid #DDDDDD;
}
.input-group .form-control:not(:first-child):not(:last-child):focus, .input-group-btn:not(:first-child):not(:last-child):focus {
  border-left: 1px solid #9A9A9A;
}
.input-group .form-control:not(:first-child):not(:last-child).is-invalid, .input-group-btn:not(:first-child):not(:last-child).is-invalid {
  border-left: 1px solid #dc3545;
}
